html,
body {
    height: 100%;
    width: 100%;
    background-color: darkcyan;


}

.button {
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;
    border: solid black 1.2px;
    box-shadow: 10rem;
}

.button:hover {
    color: grey;
}

.row {
    margin: 12px 0px;
}

.row input {
    height: 65px;
    width: 200px;
    font-size: larger;
    border: black solid 1px;
    border-radius: 5px;
    background: black;
    color: white;
}